*.iml
.idea/
*.iws
*.ipr
out/
.idea_modules/

.gradle/
build/
!gradle-wrapper.jar
gradle-app.setting
**/gradle-wrapper.properties

.kotlin/
**/kotlin-js-store/
**/kotlin-test/
**/kspCaches/
**/ksp-classes/

*.apk
*.ap_
*.dex
*.class
*.jar
!gradle-wrapper.jar
local.properties
.cxx/
*.hprof
captures/
.externalNativeBuild/
**/generated/
**/build/
native/target/
**/target/
**/androidMain/jniLibs/

xcuserdata/
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
*.xcworkspace/*
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
*.xccheckout
*.moved-aside
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

.DS_Store
Thumbs.db
TODO.md
*.log
*.lock
*.tmp
*.swp
*.swo
*~
**/caches/
**/reports/
**/test-results/
**/tmp/
**/test-output/