.vs/
.vscode/
.idea/
*.iml
*.iws
*.ipr
.idea_modules/
out/
[Bb]in/
[Oo]bj/
[Oo]ut/
[Ll]og/
[Ll]ogs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.binlog
*.nupkg
*.snupkg
*.pfx
publish/

native/target/

.DS_Store
Thumbs.db
*.log
*.tmp
*.lock
*.swp
*.swo
*~
**/caches/
**/reports/
**/test-results/
**/tmp/
**/test-output/

TODO.md
./*.ps1